@font-face {
    font-family: 'Squarefont Outline', sans-serif;
    src: url('Squarefont.ttf') format('truetype'); /* Replace 'Squarefont.ttf' with the filename of the TTF file you downloaded */
}

@font-face {
    font-family: 'Orbitron Regular';
    src: url('orbitron-regular.ttf') format('truetype');
}

.favorite {
    color: goldenrod;
}

.logo{
    width: 400px;
}

.moon {
    width: 100%;
    margin-top: 20px;
}

.main {
    background-color: black;
}

nav ul {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    display: block;
    padding: 5px;
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-family: 'Orbitron', sans-serif;
}

.fa-star {
    color: white;
    font-size: 10px;
    margin-right: 5px;
  }

h1 {
    font-family: 'Squarefont Outline', sans-serif;
    color: white;
}

h6 , p{
    font-family: 'Orbitron', sans-serif;
    font-weight: bold;
    color: white;
}

h6 , h3, h2 , .datebutton, .datebutton2 , .datesubmit{
    font-family: 'Orbitron', sans-serif;
    color: white;
}

.datebutton, .datesubmit , .datebutton2{
    background-color: goldenrod;
}

.imgtitle {
    color: goldenrod;
}

/* MEDIA QUERY FOR DESKTOP MODE */ 

@media (min-width: 992px) {

    nav ul li a , .fa-star{
        font-size: 25px;
    }

    .logo {
        width: 600px;
    }
    .moon {
        height: 200px;
    }
    p {
        font-size: 50px;
    }
    h3 {
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: black;
    }

}
#apod-image {
    width: 70%;
    height: 50%;
    border-radius: 20px;
    display: block; /* added to remove default inline display */
    margin: auto; /* added to center the image horizontally */
    padding-top: 10px;
  }
  
  .datesubmit {
    width: 50%;
  }