@font-face {
    font-family: 'Squarefont Outline', sans-serif;
    src: url('Squarefont.ttf') format('truetype'); /* Replace 'Squarefont.ttf' with the filename of the TTF file you downloaded */
}

@font-face {
    font-family: 'Orbitron Regular';
    src: url('orbitron-regular.ttf') format('truetype');
}

.favorite {
    color: goldenrod;
}

.logo{
    width: 400px;
}

.moon {
    width: 100%;
}

.main {
    background-color: black;
}

.imgday {
    width: 1000px;
}
nav ul {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    display: block;
    padding: 5px;
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-family: 'Orbitron', sans-serif;
}

.fa-star {
    color: white;
    font-size: 10px;
    margin-right: 5px;
  }

h1 {
    font-family: 'Squarefont Outline', sans-serif;
}

h6 {
    font-family: 'Orbitron', sans-serif;
    font-weight: bold;
}

h6 , h3, .datebutton, .datesubmit{
    font-family: 'Orbitron', sans-serif;
    color: white;
}

.datebutton, .datesubmit {
    background-color: goldenrod;
}

.imgtitle {
    color: goldenrod;
}

/* MEDIA QUERY*/ 

@media (min-width: 992px) {

    nav ul li a , .fa-star{
        font-size: 25px;
    }

    .logo {
        width: 600px;
    }
    .moon {
        height: 700px;
    }
    p {
        font-size: 50px;
    }

}
  
  
  